.calculator{
    border: 3px solid black;
    height: 600px;
    width: 400px;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#substract, #equal, #multiply, #add, #clear, #divide{
    border: 2px solid black;
    background-color: orange;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal, #zero{
    border: 2px solid black;
    background-color: #e6e5e5;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    margin-left: 5px;
}



    
.item, #clear{
    width: 95px;
    height: 95px;
    font-size: 25px;
    
}

#input, #result{
    height: 40px;
    width: 390px;
    background-color: black;
    color: white;
    border: none;
    text-align: right;
    font-size: 35px;
    padding: 5px 3px;
}

#display::placeholder{
    color: white;
} 

 


